header{
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
}

//Imagen inicio
.bannertop{
    width: auto;
    height: 90px;
    padding-left: 40px;
    padding-top: 20px;

    @include mobilel{
        max-width: auto;
        padding-top: 10px;
        padding-left: 80px;
    }

    @include mobilem{
        max-width: auto;
        padding-top: 10px;
        padding-left: 55px;
    }

    @include mobiles{
        max-width: auto;
        padding-top: 10px;
        padding-left: 25px;
    }
}

//Iconos de información (Ubicación, llámanos y correo)
.iconostop{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    padding-left: 580px;
    gap: 20px;

    @include p4k{
        padding-left: 1900px;
    }

    @include portatill{
        padding-left: 800px;
    }

    @include portatil{
        padding-left: 380px;
    }

    @include tablet{
        padding-left: 120px;
    }

    @include mobilel{
        display: none;
    }
}

nav{
    font-size: 20px;
}

