.bantop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;

    @include tablet{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 240px;
    }

    @include mobilel{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 140px;
    }

    @include mobilem{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 140px;
    }

    @include mobiles{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 140px;
    }
}

.bannerprincipal{
    object-fit: fill;
    width: 100%;
    height: 100%;

    @include tablet{
        max-width: 100%;
        height: 250px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @include mobilel{
        max-width: 100%;
        height: 150px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @include mobilem{
        max-width: 100%;
        height: 150px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @include mobiles{
        max-width: 100%;
        height: 150px;
        display: flex;
        padding-top: 5x;
        padding-bottom: 5px;
    }
}

.textouno{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoprincipal{

    @include p4k{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 700px;
        padding-right: 30px;
        gap: 10px;
    }

    @include portatill{
        display: inline-block;
        width: auto;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 13px;
        padding-right: 30px;
        gap: 10px;
    }

    @include portatil{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }

    @include tablet{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }

    @include mobilel{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }
}

.textoprincipal p{
    width: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include portatil{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }

    @include tablet{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }

    @include mobilel{
        display: inline-block;
        width: auto;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }    
}


