#vid-man {
    display: flex;
}
#vid-man p {
    width: 450px;
    margin-left: 100px;
    margin-top: 60px;

    @include tablet{
        padding-right: 5px;
    }

    @include mobilel{
        margin-left: -300px;
        padding-top: 300px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

#vid-man iframe {
    margin-left: 25px;
    margin-top: 10px;

    @include mobilel{
        width: auto;
        margin-left: 5px;
    }
}


// video 2
#vid-rep {
    display: flex;
    flex-direction: row-reverse;

    @include mobilel{
        flex-direction: none;
    }
}

#vid-rep p {
    width: 450px;
    margin-right: 100px;
    margin-top: 60px;

    @include tablet{
        margin-top: 10px;
        padding-left: 10px;
    }

    @include mobilel{
        margin-right: -400px;
        margin-top: 350px;
        padding-left: 5px;
        padding-right: 5px;
        width: 1000px;
    }
}

#vid-rep iframe {
    margin-left: 20px;
    margin-top: 10px;

    @include tablet{
        padding-right: 25px ;
    }

    @include mobilel{
        margin-left: 100px;
        margin-right: 10px;
    }
}


//video 3
#vid-equi {
    display: flex;
}
#vid-equi p {
    width: 450px;
    margin-left: 100px;
    margin-top: 60px;

    @include mobilel{
        margin-left: -300px;
        padding-top: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
#vid-equi iframe {
    margin-left: 25px;
    margin-top: 20px;

    @include mobilel{
        width: auto;
        margin-left: 10px;
    }
}

.t3{
    text-align: center;
}